*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background-color: #faeded;
}

.body{
    width: 100%;
    padding: 0 8%;
}

.footer{
margin-top: 150px;
width: 100%;
padding: 100px 15%;
background: #faeded;
display: flex;
text-align: center;
}
.col-2{
    flex-grow: 2;
}

.logo, .b{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.links{
    padding: 28px 0;
    position: relative;
    display: block;
    text-align: center;
}
.links li{
    display: inline-block;
    margin: 0 15px;
    width: auto;
    font-size: 25px;  
}
.links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipe{
   margin-left: 130px;
}